<template name="itemsNew">
    <a class="btn-floating btn-large waves-effect waves-light red lighten-2 right" href="{{pathFor 'dashboard'}}"><i
            class="mdi-navigation-arrow-back"></i></a>

    <h1>New Item</h1>

    <div class="card-panel">
        {{> quickForm collection="Items" id="items-new-form" type="insert"}}
    </div>
</template>
