<template name="loading">

    <div class="row loading">
        <div class="col s12 center">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-red-only lighten-2">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
